<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggshop.v1.mapper.BoardTagMapper">

    <!-- 태그 등록 -->
    <insert id="insertTag" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_board_tag (
            tag_name,
            tag_board_id
        ) values (
                     #{tagName},
                     #{tagBoardId}
                 )
    </insert>

    <!-- 게시글의 태그 목록 조회 -->
    <select id="selectAllByBoardId" resultType="com.app.ggshop.v1.domain.BoardTagVO">
        select
            id,
            tag_name as tagName,
            tag_board_id as tagBoardId
        from tbl_board_tag
        where tag_board_id = #{id}
        order by id desc
    </select>

    <select id="selectAll" resultType="string">
        select distinct tag_name
        from tbl_board_tag
        order by tag_name asc
    </select>

    <delete id="delete">
        delete from tbl_board_tag
        where id = #{id}
    </delete>

    <delete id="deleteByBoardId">
        delete from tbl_board_tag
        where tag_board_id = #{id}
    </delete>

</mapper>
